<footer class="footer-wrapper footer-layout1">
  <div class="widget-area">
    <div class="container">
      <div class="newsletter-area">
        <div class="newsletter-top">
          <div class="row gy-4 align-items-center">
            <div class="col-lg-5">
              <h2 class="newsletter-title text-capitalize mb-0">Stay Inspired</h2>
            </div>
            <div class="col-lg-7">
              <form class="newsletter-form">
                <input class="form-control" type="email" placeholder="Enter Email" required />
                <button type="submit" class="th-btn style3">
                  Subscribe <img src="/assets/img/icon/plane.svg" alt="" />
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-md-6 col-xl-3">
          <div class="widget footer-widget">
            <div class="th-widget-about">
              <div class="about-logo">
                <a href="/"><img src="/assets/img/logo3.svg" alt="Rodos Yachts" /></a>
              </div>
              <p class="about-text">
                Luxury yacht charters across the Greek islands. From the Saronic Gulf to the Cyclades, we craft bespoke voyages tailored to your every desire.
              </p>
              <div class="th-social">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-auto">
          <div class="widget widget_nav_menu footer-widget">
            <h3 class="widget_title">Quick Links</h3>
            <div class="menu-all-pages-container">
              <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/service">Our Fleet</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Enquire</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-auto">
          <div class="widget footer-widget">
            <h3 class="widget_title">Contact</h3>
            <div class="th-widget-contact">
              <div class="info-box_text">
                <div class="icon"><img src="/assets/img/icon/phone.svg" alt="img" /></div>
                <div class="details">
                  <p><a href="tel:+302241012345" class="info-box_link">+30 22410 12345</a></p>
                </div>
              </div>
              <div class="info-box_text">
                <div class="icon"><img src="/assets/img/icon/envelope.svg" alt="img" /></div>
                <div class="details">
                  <p><a href="mailto:info@rodosyachts.gr" class="info-box_link">info@rodosyachts.gr</a></p>
                </div>
              </div>
              <div class="info-box_text">
                <div class="icon"><img src="/assets/img/icon/location-dot.svg" alt="img" /></div>
                <div class="details">
                  <p>Mandraki Harbour, Rhodes, Greece</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-wrap background-image" style="background-image: url('/assets/img/bg/copyright_bg_1.jpg');">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-12 text-center">
          <p class="copyright-text">Copyright 2025 <a href="/">Rodos Yachts</a>. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
