---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../sections/home-one/Section1-Header.astro';
import Breadcrumb from '../../components/ui/Breadcrumb.astro';
import FooterFour from '../../sections/shared/FooterFour.astro';
import ScrollToTop from '../../components/interactive/ScrollToTop';
import activities from '../../data/data-activities.json';
---

<BaseLayout title="Activities - Rhodos Yachts">
  <Header />
  <Breadcrumb title="Activities" />

  <section class="space">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-lg-7">
          <div class="row gy-24 gx-24">
            {activities.map((data) => (
              <div class="col-md-6">
                <div class="tour-box th-ani">
                  <div class="tour-box_img global-img">
                    <img src={`/assets/img/tour/${data.image}`} alt="" />
                  </div>
                  <div class="tour-content">
                    <h3 class="box-title">
                      <a href="/activities/details">{data.title}</a>
                    </h3>
                    <div class="tour-rating">
                      <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                        <span style="width: 100%;">
                          Rated <strong class="rating">5.00</strong> out of 5 based on
                          <span class="rating">4.8</span>(4.8 Rating)
                        </span>
                      </div>
                      <a href="/activities/details" class="woocommerce-review-link">
                        (<span class="count">4.8</span> Rating)
                      </a>
                    </div>
                    <h4 class="tour-box_price">
                      <span class="currency">{data.price}</span>/Person
                    </h4>
                    <div class="tour-action">
                      <span><i class="fa-light fa-clock"></i>7 Days</span>
                      <a href="/activities/details" class="th-btn style4">Detail View</a>
                    </div>
                  </div>
                </div>
              </div>
            ))}
            <div class="th-pagination text-center mt-60 mb-0">
              <ul>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                  <a class="next-page" href="#">
                    Next <img src="/assets/img/icon/arrow-right4.svg" alt="" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-lg-5">
          <aside class="sidebar-area">
            <div class="widget widget_search">
              <form class="search-form">
                <input type="text" placeholder="Search" />
                <button type="submit"><i class="far fa-search"></i></button>
              </form>
            </div>
            <div class="widget widget_categories">
              <h3 class="widget_title">Activity Type</h3>
              <ul>
                <li><a href="/blog"><i class="fa-light fa-square-check"></i> Food and drink</a><span>(10)</span></li>
                <li><a href="/blog"><i class="fa-light fa-square-check"></i> Entertainment</a><span>(6)</span></li>
                <li><a href="/blog"><i class="fa-light fa-square-check"></i> Sports</a><span>(2)</span></li>
                <li><a href="/blog"><i class="fa-light fa-square-check"></i> Nature and outdoors</a><span>(7)</span></li>
                <li><a href="/blog"><i class="fa-light fa-square-check"></i> Culture and events</a><span>(9)</span></li>
                <li><a href="/blog"><i class="fa-light fa-square-check"></i> Mountain Campaigning</a><span>(10)</span></li>
              </ul>
            </div>
            <div class="widget widget_price_filter">
              <h4 class="widget_title">Filter By Price</h4>
              <div class="price_slider_wrapper">
                <div class="price_label">
                  Price: <span class="from">$300.00</span> — <span class="to">$1000</span>
                </div>
                <div class="price_slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                  <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 30%;"></div>
                  <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span>
                  <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 30%;"></span>
                </div>
              </div>
            </div>
            <div class="widget widget_categories">
              <h3 class="widget_title">Duration</h3>
              <ul>
                <li><a href="/blog"><i class="fa-light fa-square-check"></i> Up to 2 hour</a><span>(20)</span></li>
                <li><a href="/blog"><i class="fa-light fa-square-check"></i> 1 to 4 hour</a><span>(24)</span></li>
                <li><a href="/blog"><i class="fa-light fa-square-check"></i> 4 hour to 1 day</a><span>(25)</span></li>
              </ul>
            </div>
            <div class="widget widget_categories">
              <h3 class="widget_title">Duration</h3>
              <ul>
                <li><a href="/blog"><i class="fa-light fa-square-check"></i> Gozayan Tour, BD</a><span>(26)</span></li>
                <li><a href="/blog"><i class="fa-light fa-square-check"></i> Tourope UK</a><span>(27)</span></li>
                <li><a href="/blog"><i class="fa-light fa-square-check"></i> European Tours Limited</a><span>(29)</span></li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>

  <FooterFour />
  <ScrollToTop client:load />
</BaseLayout>
