---
// FooterFour - Dark footer used on inner pages
---

<footer class="footer-wrapper bg-title footer-layout2 shape-mockup-wrap">
  <div class="widget-area">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6 col-xl-3">
          <div class="widget footer-widget">
            <div class="th-widget-about">
              <div class="about-logo">
                <a href="/"><img src="/assets/img/logo-white.svg" alt="Rodos Yachts" /></a>
              </div>
              <p class="about-text">
                Luxury yacht charters across the Greek islands. From Rhodes to the Dodecanese, we craft bespoke voyages tailored to your every desire.
              </p>
              <div class="th-social">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-auto">
          <div class="widget widget_nav_menu footer-widget">
            <h3 class="widget_title">Quick Links</h3>
            <div class="menu-all-pages-container">
              <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/service">Our Service</a></li>
                <li><a href="/contact">Terms of Service</a></li>
                <li><a href="/contact">Tour Booking Now</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-auto">
          <div class="widget footer-widget">
            <h3 class="widget_title">Get In Touch</h3>
            <div class="th-widget-contact">
              <div class="info-box_text">
                <div class="icon"><img src="/assets/img/icon/phone.svg" alt="img" /></div>
                <div class="details">
                  <p><a href="tel:+302241012345" class="info-box_link">+30 22410 12345</a></p>
                </div>
              </div>
              <div class="info-box_text">
                <div class="icon"><img src="/assets/img/icon/envelope.svg" alt="img" /></div>
                <div class="details">
                  <p><a href="mailto:info@rodosyachts.gr" class="info-box_link">info@rodosyachts.gr</a></p>
                </div>
              </div>
              <div class="info-box_text">
                <div class="icon"><img src="/assets/img/icon/location-dot.svg" alt="img" /></div>
                <div class="details">
                  <p>Mandraki Harbour, Rhodes, Greece</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-auto">
          <div class="widget footer-widget">
            <h3 class="widget_title">Newsletter</h3>
            <p class="footer-newsletter-text text-white mb-20">Get updated with the latest news and offers.</p>
            <form class="newsletter-form style2">
              <input class="form-control" type="email" placeholder="Enter Email" required />
              <button type="submit" class="th-btn style1">
                Subscribe Now <img src="/assets/img/icon/plane2.svg" alt="" />
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-wrap">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6">
          <p class="copyright-text">Copyright 2025 <a href="/">Rodos Yachts</a>. All Rights Reserved.</p>
        </div>
        <div class="col-md-6 text-end d-none d-md-block">
          <div class="footer-card">
            <span class="title">We Accept</span>
            <img src="/assets/img/shape/cards.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
