---
interface Props {
  title: string;
  images: string[];
}

const { title, images } = Astro.props;
---

<div class="overflow-hidden space" id="gallery-sec">
  <div class="container-fuild">
    <div class="title-area mb-30 text-center">
      <span class="sub-title">Explore</span>
      <h2 class="sec-title">{title}</h2>
    </div>
    <div class="row gy-4 gallery-row4">
      {images.map((img) => (
        <div class="col-auto">
          <div class="gallery-box style5">
            <div class="gallery-img global-img">
              <img src={img} alt="gallery" />
              <a href={img} class="icon-btn popup-image">
                <i class="fas fa-search-plus" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</div>
