---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div
  class="bg-top-center space overflow-hidden"
  style="background-image: url(/assets/img/bg/contact_bg_2.jpg); background-repeat: no-repeat;"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 text-center">
        <div class="title-area">
          <span class="sub-title text-white">Book Your Experience</span>
          <h2 class="sec-title text-white">{title}</h2>
          <p class="text-white">{description}</p>
        </div>
        <div class="mt-25 mb-30">
          <a href="/contact" class="th-btn white-btn th-icon">Book Now</a>
        </div>
        <div class="contact-info">
          <p class="contact-info_link">
            <a href="tel:+306940000000" class="text-white">+30 694 000 0000</a>
          </p>
          <div class="contact-info_icon">
            <a href="tel:+306940000000">
              <img src="/assets/img/icon/call.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
